.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 80px;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1000;

}

header.rolagem {
    background-color: grey;
    padding: 3px 2%;
}

header i {
    font-size: 30px;
    color: white;
}

header ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 40px;
}

header .carrinho {
    margin-right: 10px;
    margin-left: auto;


}

.fundo {
    background-image: url(imagens/banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    padding-top: 80px;

}

.fundo h1 {
    font-size: 4em;
}

.fundo h1 span {
    color: #ffAE81;
}

.btn-contato {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.imagem-sobrenos {
    height: 400px;
}

.main-content {
    padding-top: 100px;


}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.btn.btn-primary {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}


.carousel-container {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);

}

.carousel-inner {
    transition: transform 3s ease;

}

.carousel-item {
    margin-top: 150px;
    text-align: center;

}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;

}

.carousel-item-next.carousel-item-start,
.carousel-item-prev.carousel-item-start,
.carousel-item.active.carousel-item-start,
.carousel-item-next.carousel-item-end,
.carousel-item-prev.carousel-item-end,
.carousel-item.active.carousel-item-end {
    transform: translateX(0);

}

h2 {
    text-align: center;
    /* Centraliza o texto */
    text-transform: uppercase;
    /* Converte o texto para maiúsculas */
    letter-spacing: 1px;
    /* Adiciona um espaçamento entre as letras */
    margin-bottom: 20px;
    /* Adiciona espaço abaixo do elemento */
}

h2 span {
    font-weight: bold;
    /* Define o peso da fonte como negrito */
}

.section-header {
    margin-top: 50px;
}

.contact .info-item {
    background: #f4f4f4;
    padding: 30px;
    height: 100%;
    margin-top: 15px;
}

.contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: #FE775A;
    border-radius: 50%;
    margin-right: 15px;
}

.contact .info-item h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.contact .info-item p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
}

.contact .info-item .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(55, 55, 63, 0.7);
    line-height: 1;
    margin: 4px 6px 0 0;
    transition: 0.3s;
}

.contact .info-item .social-links a:hover {
    color: #FE775A;
}

.contact .php-email-form {
    width: 100%;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact .php-email-form .form-group {
    padding-bottom: 20px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #FE775A;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--color-primary);
}

.contact .php-email-form input {
    height: 48px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: #FE775A;
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #FE775A;
}

.preco {
    color: #ffAE81;
    font-size: 25px;
    font-weight: 900;
}

.btn-carrinho {
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}

.footer {
    font-size: 14px;
    background-color: #c4563e;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: #fff;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}

.footer .credits a {
    color: #fff;
}

/* Estilo para o carrinho */
.carrinho {
    position: relative;
}

.carrinho .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
}

.countdown {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: #c4563e;
    line-height: 2em;
    height: 2em;
    text-align: center;
    display: inline-block;

}

.btn-padrao {
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}

.btn-padrao:hover {
    background-color: #FE775A; /* Manter a mesma cor de fundo ao passar o mouse */
}
